<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/lang-logo.png" />
        </a>
        <h1>BYU - Idaho - CS 313 - Fall 2019</h1>
        <p>09 Prove : Assignment - Postal Rate Calculator<br />Pedro Pereira</p>
        <a
          type="button"
          class="btn btn-lg btn-primary"
          href="https://github.com/pereira-pedro/cs313-node"
          ><span class="glyphicon glyphicon-download"></span> Source on
          GitHub</a
        >
      </div>
    </div>
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        Use form below to calculate USPS postal rate.
      </div>
      <hr />
      <div class="row">
        <form
          method="GET"
          action="https://fierce-beyond-50395.herokuapp.com:5000/getRate/"
        >
          <div class="form-group">
            <label for="origin">Originating ZIP</label>
            <input
              type="number"
              class="form-control"
              id="origin"
              placeholder="Originating ZIP"
            />
          </div>
          <div class="form-group">
            <label for="destination">Destination ZIP</label>
            <input
              type="number"
              class="form-control"
              id="destination"
              placeholder="Destination ZIP"
            />
          </div>
          <div class="form-group">
            <label for="pounds">Weight (pounds)</label>
            <input
              type="number"
              class="form-control"
              id="pounds"
              placeholder="Pounds"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <select class="form-control">
              <option value="LETTER">Letters (Stamped)</option>
              <option value="LETTER">Letters (Metered)</option>
              <option value="FLAT">Large Envelopes (Flats)</option>
              <option value="PACKAGE SERVICE RETAIL"
                >First-Class Package Service—Retail</option
              >
            </select>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
